$breakpoint: 650px;

@import "reset";
@import "config";
@import '../../node_modules/gorko/gorko.scss';

// MIXINS
@import "mixins/top-element";

// BLOCKS
@import "blocks/biog-contact";
@import "blocks/contact-form";
@import "blocks/greeting";
@import "blocks/header";
@import "blocks/button";
@import "blocks/profile-pic";
@import "blocks/fraser";
@import "blocks/maintext";
@import "blocks/hamburger";
@import "blocks/modal-overlay";
@import "blocks/modal-side";
@import "blocks/menu-modal";

// UTILITIES
@import "utilities/max-width";
@import "utilities/rad";
@import "utilities/flow";
@import "utilities/space-between";
@import "utilities/mobile";
@import "utilities/shadow";
@import "utilities/sr-only";

// KEYFRAMES
@import "keyframes/fade";
@import "keyframes/slide";

// FONTS

@import url(https://fonts.googleapis.com/css?family=Poppins:500,700);

// GLOBAL STYLES

html { 
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: get-color('gradient');
    background-attachment: fixed;
    padding: get-size('500');
}
h1 {
    font-size: clamp(30px, 4.6vw, 3.2rem);
    line-height: clamp(40px, 5.75vw, 65px);
    font-weight: 700;
}
p {
    letter-spacing: 0.2px;
}
a, button {
    cursor: pointer;
    text-decoration: none;
}