.greeting {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    grid-template-columns: 1fr clamp(225px, 25vw, 275px);
    margin-bottom: clamp(3rem, 7.5vw, 5rem);
    @include top-element;
}
@media screen and (min-width: $breakpoint) {
    .greeting {
        display: grid;
    }
}
.greeting h1 {
    margin-block: auto;
    max-width: 700px;
}