.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding-block: 1.25rem;
    background-color: rgba($color: #003141, $alpha: 0.8);
    backdrop-filter: blur(4px);
    padding-inline: 1.25rem;
    width: 100%;
    max-width: calc(1100px + 2.5rem);
}
