@media screen and (max-width: $breakpoint) {
    .profile-pic {
        max-width: 45vw;
    }
}
.profile-pic-container {
    display: flex;
    width: 100%;
}
.profile-pic {
    border: 8px solid get-color('blue');
    height: 100%;
    margin: auto;
    z-index: -1; // so it isn't missed by header blur
}
    .profile-pic {
        transform: scaleX(-1);
    }